<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>paste-DO</title>
  <!-- Normalize.css -->
  <link href="public/css/normalize.css" rel="stylesheet">
  <!-- Styles -->
  <link href="public/css/style.css" rel="stylesheet" >
  <!-- editor -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</head>
<body>

  <form action="/new/" method="POST">
    <textarea name="content" rows="20" cols="80" id="paste-form">
      # code sample

      >  It is practically impossible to teach good programming style to students that have had prior exposure to BASIC; as potential programmers they are mentally mutilated beyond hope of regeneration.

      ![basic computer games](http://blog.codinghorror.com/content/images/uploads/2008/04/6a0120a85dcdae970b0120a86ddeee970b-pi.png)


      ```ruby
      puts "abc"
      x = 0
      for i in 0..10
      puts "abc"
      x = x + 1
      puts "def"
      end
      ```

      ## buy list

      - [ ] fruits
        + [ ] miru miru
        + [x] gomu gomu
      - [x] butter
      - [ ] **MEAT!!!**


    </textarea>
    <input type="submit" id="paste-save" value="Save"></div>
  </form>

<!-- JS -->
<script src="public/js/scripts.js"></script>
</body>
</html>
