<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>paste-DO</title>
  <!-- Normalize.css -->
  <link href="public/css/normalize.css" rel="stylesheet">
  <!-- Styles -->
  <link href="public/css/style.css" rel="stylesheet" >
  <!-- editor -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

</head>
<body>

  <div class="b_header">
    <h1 class="b_header__brand">
      paste-do
    </h1>
  </div>

  <div class="flex-container">
    <div class="flex-item">
      <form action="/new/" method="POST">
        <textarea name="content" rows="20" cols="80" id="paste-form">
          # code sample
        </textarea>
        <input class="btn-success" type="submit" id="paste-save" value="Save"></div>
      </form>
    </div>
    <div class="flex-item">
      preview
    </div>
  </div>


<!-- JS -->
<script src="public/js/scripts.js"></script>
</body>
</html>
