<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>paste-DO</title>
  <!-- Style -->
  <link href="/public/bootstrap.min.css" rel="stylesheet">
  <link href="/public/github-markdown.css" rel="stylesheet">
  <link href="/public/highlight-style.min.css" rel="stylesheet">
</head>
<body>

  <!-- URL + visits counter -->
  <h1><a href="/todo/{{.ID}}">{{.ID}}</a> (visits: {{.Visits}})</h1>
  <!-- Controls -->
  <a href="/todo/{{.ID}}">admin link</a> <br/>
  <a href="/todo/{{.ID}}">read-only link</a>
  <!-- TODO progress -->
  <progress class="progress progress-success" value="25" max="100">25%</progress>
  <!-- Creation time -->
  <time>{{.CreatedAt}}</time>
  <!-- paste content -->
  <article class="markdown-body">
    {{.MarkdownContent}}
  </article>
  <!-- paste form, content editing -->
  <form action="/edit/{{.ID}}" method="POST">
    <div><textarea name="content" rows="20" cols="80">{{.Content}}</textarea></div>
    <div><input type="submit" value="Save"></div>
  </form>
<!-- JS -->

</body>
</html>
